/*.div {*/
/*    width: 80%;}*/
/*    !*color: red;*!*/
/*    !*margin-left: auto;*!*/
/*    !*margin-right: auto;*!*/
/*!*}*!*/
/*.block{*/
/*    display: block;*/
/*}*/
/*!*.relative{*!*/

/*    position: relative;*/
/*    top: 50px;*/
/*}*/
/*.absolute{*/
/*    position: absolute;*/
/*    right: 0;*/
/*    left: 0;*/
/*    margin: auto;*/
/*    width: 50px;*/
/*    top:0;*/
/*    bottom: 0;*/
/*    height: 10px;*/
/*!*}*!*/
/*.fixed{*/
/*    position: fixed;*/
/*    background: red;*/
/*    width: 80%;*/
/*    height: 80%;*/
/*    margin: auto;*/
/*    display: inline-block;*/
/*}*/
/** {*/
/*    box-sizing: border-box;*/
/*}*/

/*section {*/
/*    width: 33.3333%;*/
/*    margin: 0 auto;*/
/*    min-height: 200px;*/
/*    border: 1px solid;*/
/*    background: red;*/
/*}*/

/*.section-1 {*/
/*    float: left;*/
/*}*/
/*.section-2{*/
/*    float: left;*/
/*  }*/
/*.section-3{*/
/*    float: left;*/
/*}*/
/*div{*/
/*      width: 25%;*/
/*      background: red;*/
/*      display: inline-block;*/
/*      border: 1px solid;*/
/*      float: left;*/
/*      box-sizing: border-box;*/
/*  }*/


.viewport {
    position: fixed;
    width: 100%;
    height: 100%;
    background: red;
}

.green {
    background: green;
    height: calc(100% - 40px / 2);
    margin: 20px 40px;
    display: flex;
    overflow-x: auto;
}


.blue {
    overflow-y: auto;
    position: relative;
    height: 95%;
    min-width: 300px;
    background: blue;
    margin: 10px 10px 10px 10px;
    float: left
}

.yellow {
    height: 50px;
    width: 100%;
    background: yellow;
    margin-bottom: 10px;
}

.block100 {
    height: 100px;

}

.block150 {
    height: 150px;
}

.block400 {
    height: 400px;
}

.vikno1 .yellow:nth-child(even) {
    background: linear-gradient(to bottom, white, black);
}

.vikno1 .yellow:nth-child(odd) {
    background: linear-gradient(to top, white, black);
}

.vikno2 .yellow:nth-child(3n+1) {
    border: 5px solid;
    border-image: linear-gradient(to right, red, blue) 1;
    background-image: url("https://live.staticflickr.com/65535/49704199826_55db01d329_c.jpg");
}

.vikno2 .yellow:nth-child(n+2):nth-child(-n+3) {
    box-shadow: inset 0 0 15px 15px gray;


}

.vikno2 .yellow:nth-child(n+2):nth-child(-n+3):hover {
    box-shadow: inset 0 0 15px 15px blue;
    transition: 0.5s;
}

.vikno2 .yellow:nth-child(odd) {
    border: dotted 5px black;
}

.vikno2 .yellow:nth-child(odd):hover {
    border-color: white;
    transition: 2s;

}

.vikno3 .block400 {
    background: gray;
    position: relative;
}

.vikno3 .block400:hover {
    transition: 1s;
    left: 100%;
}

.vikno4 .yellow:nth-child(even) {
    background-image: url(https://live.staticflickr.com/65535/49704199826_55db01d329_c.jpg);
    background-size: 10px 10px;
    background-repeat: no-repeat;
}

.yellow.block:hover {
    background: red;
    width: calc(100% - 30px);
    position: relative;
    bottom: 10px;
}






